body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://media1.tenor.com/m/yvFqmjIeEwkAAAAd/game.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
width: 90%
max-width: 900px;
color: white;
background-color: rgba(0, 0, 0, 0.85);
